<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Login</title>
    <link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/3.3.7/css/bootstrap.min.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/static/css/main.css}"/>
</head>
<body>
<div>
    <nav class="navbar navbar-inverse navbar-static-top">
        <div class="container">
            <ul class="nav navbar-nav">
                <li class="navbar-left">
                    <a th:href="@{/}">Home</a>
                </li>
                <li class="navbar-right">
                    <a th:href="@{/logout}">Sign Out</a>
                </li>
            </ul>
        </div>
    </nav>
    <div th:if="${msg}" class="text-center">
        <span th:text="${msg}"></span>
    </div>
    <div class="col-md-4"></div>
    <div class=" col-md-4">
        <form method="POST" th:action="@{/upload}" enctype="multipart/form-data">
            <input type="file" name="files" id="files" multiple/> <br/>
            <input type="submit" value="Upload" name="upload" id="upload"/>
        </form>
    </div>
</div>
</body>
</html>