<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head lang="en">

    <title></title>

</head>
<body>
<div class="container">
    <form class="form-inline my-2 my-lg-0" autocomplete="off" th:action="@{/search}" method="GET">
        <div class="autocomplete" style="width:300px;">
            <input class="form-control mr-sm-2" id="myInput" type="text" placeholder='Search'>
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
        </div>

    </form>

</div>
</body>
</html>